/* .mainContainer {
  width: 100%;
  background-color: #DFF5FF;
  display: flex;
  justify-content: center;
  margin-right: 10px;
  height: 630px;
    

  }
.header{
    margin-bottom: 50px;
    text-align:center;
}
.form{
background-color: white;
    margin-top: 15px;
    width: 500px;
    height: 500px;}
.input{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.Button{
    font-weight: 700;
    margin-left: 60px;
    width: 50%;
}
  */